In [1]:
from langchain_community.tools import WikipediaQueryRun, DuckDuckGoSearchRun
from langchain_community.utilities import WikipediaAPIWrapper
from langchain.tools import tool
from datetime import datetime
import pandas as pd
import os
import psycopg2
from dotenv import load_dotenv, find_dotenv
import urllib.parse

In [2]:
load_dotenv(find_dotenv())
DB_NAME=os.getenv('DB_NAME')
USERNAME=os.getenv('USERNAME')
PASSWORD=urllib.parse.quote(os.getenv('PASSWORD'))
HOSTNAME=os.getenv('HOSTNAME')
PORT=os.getenv('PORT')
# Creating conneciton to database
conn = psycopg2.connect(f"dbname={DB_NAME} user={USERNAME} password={PASSWORD}")

In [5]:
#@tool
def access_accounts_receivable():
    """ Function to access data tables in Postgres"""
    df =  pd.read_sql(f"SELECT * FROM accounts_receivable", conn)
    return df

In [6]:
access_accounts_receivable()

/var/folders/4s/q4zndhns13bdmf7q1_8p3crc0000gn/T/ipykernel_25737/111012956.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df =  pd.read_sql(f"SELECT * FROM accounts_receivable", conn)

,invoice_number,date,customer_name,customer_number,amount,due_date,payment,payment_date,payment_id
0,1,2025-05-01,Planet Express,12038,50000.0,2025-05-02,None,None,None
1,2,2025-09-01,Mom's Friendly Robot Factory,12000,100000.0,2025-09-02,None,None,None
2,3,2025-10-01,Romanticorp,12990,73640.0,2025-10-02,None,None,None
3,4,2025-01-18,Hal Insitute for Criminally Insane Robots,12010,12500.0,2025-02-18,None,None,None
4,5,2025-01-21,Cookieville Minimum-Security Orphanarium,11900,10000.0,2025-02-21,None,None,None
5,6,2025-01-29,Panucci's Pizza,12933,1000.0,2025-02-28,None,None,None
6,7,2025-02-02,Planet Express,12038,12300.0,2025-02-03,None,None,None
7,8,2025-02-02,Romanticorp,12990,50000.0,2025-02-03,None,None,None
8,9,2025-03-02,Malfunctioning Eddie's Rocket-Car Emporium,12230,76000.0,2025-03-03,None,None,None
9,10,2025-05-02,Cookieville Minimum-Security Orphanarium,11900,80000.0,2025-05-02,None,None,None
10,11,2025-07-02,Mom's Friendly Robot Factory,12000,200000.0,2025-07-03,None,None,None
11,12,2025-10-02,Hal Insitute for Criminally Insane Robots,12010,12500.0,2025-10-03,None,None,None
12,13,2025-02-15,Panucci's Pizza,12933,1000.0,2025-03-15,None,None,None
13,14,2025-02-18,Democratic Order of Planets,12001,120000.0,2025-03-18,None,None,None

In [ ]:
keep_alive': '-1'}